
@{
    ViewBag.Title = "ThongBaoKhongCoHang";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 style="text-align:center;color:red">Chưa có sản phẩm nào trong giỏ</h2>
<h2>@ViewBag.ThongBao</h2>

