@model QLBanLinhKienDienTuMVC.Models.SanPham

@{
    ViewBag.Title = "XoaSanPham";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<h2 class="text-danger">@ViewBag.TBTrung</h2>
<a href="@Url.Action("DanhSachSanPham", "Ad_SanPham")" class="btn btn-sm btn-success"><i class="fa-sharp fa-solid fa-arrow-left"></i> BACK</a>
