
@{
    ViewBag.Title = "GiaoHang";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 class="text-danger">@ViewData["Loi1"]</h2>
<a href="@Url.Action("DanhSachDonHang", "Ad_DonHang")" class="btn btn-sm btn-success"><i class="fa-sharp fa-solid fa-arrow-left"></i> BACK</a>

