
@{
    ViewBag.Title = "XoaKhachHang";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 class="text-danger">@ViewBag.TBTrung</h2>
<a href="@Url.Action("DanhSachKhachHang", "Ad_KhachHang")" class="btn btn-sm btn-success"><i class="fa-sharp fa-solid fa-arrow-left"></i> BACK</a>
