
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<h2 style="text-align:center;font-weight:bold;color:darkviolet">Liên Hệ</h2>
<br /><br /><br />
Phạm Gia Bảo-2001190424<br />
Nguyễn Tiến Đạt-2001190462<br />
HOTLINE<br />
0974924692
<br /><br /><br />
EMAIL<br />
paopaokk321@gmail.com
<br /><br /><br />
THEO DÕI CHÚNG TÔI<br />
<a href="https://www.facebook.com/profile.php?id=100015057640311"><img src="~/images/facebook.JPG" width="50px" height="50px" /></a>&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="https://github.com/tonan01"><img src="~/images/Global.JPG" width="50px" height="50px" /></a>&nbsp&nbsp&nbsp&nbsp
<a href="https://www.youtube.com/channel/UCAZodQEi1Jlf-bfnBdsxieQ"><img src="~/images/youtube.JPG" width="50px" height="50px" /></a>

